<template>
    <v-container fluid>
        <v-slide-y-transition mode="out-in">
            <v-layout column align-center>
                <blockquote>
                    &#8220;First, solve the problem. Then, write the code.&#8221;
                    <footer>
                        <small>
                            <em>&mdash;John Johnson</em>
                        </small>
                    </footer>
                </blockquote>
            </v-layout>
        </v-slide-y-transition>
        <div class="spacer">

        </div>
    </v-container>
</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.spacer {
    height: 10000px;
}
</style>
