<template>
    <img src="../../assets/logo.png" alt="" :style="style">
</template>

<script>
export default {
  name: 'AppLogo',
  props: ['width', 'height'],
  data () {
    return {
      deg: 0
    }
  },
  computed: {
    style () {
      return {
        transform: `rotate(${this.deg}deg)`,
        width: this.width,
        height: this.height
      }
    }
  },
  mounted () {
    const totalheight = document.documentElement.scrollHeight - document.documentElement.clientHeight
    if (totalheight >= 1000) {
      this.$nextTick(() => {
        window.addEventListener('scroll', () => {
          const scrolled = window.scrollY
          this.deg = Math.floor(180 * (scrolled / totalheight))
        })
      })
    }
  }
}
</script>

<style lang="stylus" scoped>
img
    display block
    margin 5vh auto 5vh auto
    width 20vh
    height 20vh
</style>
