<template>
    <v-container class="py-0">
        <v-navigation-drawer id="nav" fixed app floating="true">
            <app-logo
            ></app-logo>

        </v-navigation-drawer>
    </v-container>

</template>

<script>
import AppLogo from './AppLogo.vue'
export default {
  name: 'AppSidenav',
  components: {
    AppLogo
  },
  data () {
    return {
      drawer: true
    }
  }
}
</script>

<style lang="stylus">
#nav
    border none

</style>
