<template>
    <v-app id="test">
        <app-sidenav id="test2"></app-sidenav>
        <v-content>
            <router-view/>
        </v-content>
    </v-app>
</template>

<script>
import AppSidenav from './components/navigation/AppSidenav.vue'
export default {
  name: 'App',
  components: {
    AppSidenav
  }

}
</script>
<style scoped lang="stylus">
#test
    border none
#test2
    border none
</style>
